/* header start here */
header {
  background-color: #381168;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  height: 50px;
}
.port {
  color: #b327ff; /* Bright Neon Purple */
  font-weight: 700;
  font-size: 20px;
}

.folio {
  color: #c2a6ff; /* Soft Light Purple */
  font-weight: 700;
  font-size: 20px;
}
* {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
header div {
  margin: 30px;
}
nav a {
  color: #c2a6ff;
  font-size: 12px;
  background-color: #2a004d;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 25px;
  margin-left: 10px;
  display: inline-block;
  transition: 0.3s;
}

nav a:hover {
  color: #ffffff;
  background-color: #3e0070;
  box-shadow: 0 0 10px #b327ff, 0 0 20px #b327ff, 0 0 30px #b327ff;
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}
/* header ends here */

/* aboutme section starts here */

body {
  background-color: #12001f;
  margin: 0;
  padding: 0;
}

.home {
  padding-top: 120px;
  padding-left: 100px;
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Poppins", sans-serif;
}

.img-container {
  width: 260px;
  height: 260px;
  background: radial-gradient(circle, #b327ff 0%, transparent 70%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#me {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.aboutme {
  color: white;
  max-width: 700px;
  margin-left: 40px;
}

.aboutme h1 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}

.aboutme h2 {
  font-size: 24px;
  font-weight: 500;
  color: #c2a6ff; /* soft purple */
  margin-bottom: 15px;
}

.aboutme p {
  font-size: 18px;
  line-height: 1.6;
  color: #d4c7ff; /* readable text */
  margin-bottom: 20px;
}

.aboutme h1:hover {
  text-shadow: 0 0 10px #b327ff, 0 0 20px #b327ff;
}

/* about me ends here */

/* skills sec starts here */
#skills {
  padding: 50px 100px 50px 100px;
}

#skills h2 {
  font-size: 32px;
  color: #b327ff;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
  text-shadow: 0 0 10px #b327ff;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill-box {
  width: 140px;
  height: 140px;
  background: #1e0839;
  color: #c2a6ff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.skill-box:hover {
  box-shadow: 0 0 10px #b327ff, 0 0 20px #b327ff, 0 0 40px #b327ff;
  transform: translateY(-6px);
}

.skill-box:hover p {
  color: #ffffff;
}

.skill-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

/* skills sec ends here */

/* project sec starts here */
#projects {
  padding: 0px 100px 50px 100px;
}

#projects h2 {
  font-size: 32px;
  color: #b327ff;
  margin-bottom: 30px;
  text-shadow: 0 0 10px #b327ff;
}

.project-box {
  background: #1e0839;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.project-box h3 {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 8px;
}

.project-box p {
  color: #c2a6ff;
  font-size: 17px;
  line-height: 1.6;
}

.project-box:hover {
  box-shadow: 0 0 10px #b327ff, 0 0 20px #b327ff, 0 0 40px #b327ff;
  transform: translateY(-6px);
  transition: 0.3s ease-in-out;
}

/* project sec ends here */

/* experience section starts here */

#experience {
  padding: 0px 100px 50px 100px;
}

#experience h2 {
  font-size: 32px;
  color: #b327ff;
  margin-bottom: 30px;
  text-shadow: 0 0 10px #b327ff;
}

.experience-box {
  padding: 0px 0px 0px 5px;
}

.experience-box h3 {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 5px;
}

.experience-box span {
  color: #c2a6ff;
  font-size: 15px;
  font-style: italic;
  display: inline-block;
  margin-bottom: 10px;
}

.experience-box p {
  color: #c2a6ff;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 25px;
}

#contact {
  padding: 0px 100px 50px 100px;
}

#contact h2 {
  font-size: 32px;
  color: #b327ff;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #b327ff;
}

#contact a {
  color: #ffffff;
  text-decoration: none;
}

#contact a:hover {
  color: #b327ff;
}

#contact p {
  font-size: 18px;
  color: #c2a6ff;
  line-height: 1.7;
  margin: 8px 0;
}

footer {
  text-align: center;
  color: #c2a6ff;
  padding: 20px;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .home {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 10px;
  }

  .img-container {
    margin-bottom: 10px;
  }

  .home img {
    width: 200px;
  }

  .aboutme {
    padding: 0px 0px;
    margin: 0px;
  }
}
